*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F2D0A4;
    text-align: center;
}

h1 {
    margin: 50px 0 0 0;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-pannel{
    height: 65vmin;
    width: 65vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.box{
    height: 18vmin;
    width: 18vmin;
    color: #C03221;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    font-size: 8vmin;
    background-color: #ffffc7;
}

p{
    margin: 3vmin 0;
    font-size: 4vmin;
    color: #e93269;
    text-shadow: 0.5px 0.5px #000000;
}

.reset-btn{
    padding: 10px 40px;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}